{% extends 'common/base.html' %}

{% block title%}
CRM - {{model}}
{% endblock %}

{% block content %}

{% if model == "user" %}
<h2>User '{{detail_info['Name']}}'님</h2>
{% elif model == "store" %}
<h2>Store '{{detail_info['Name']}}'</h2>
{% elif model == "order" %}
<h2>Order Id '{{detail_info['Id']}}'</h2>
{% elif model == "orderitem" %}
<h2>Order Item '{{detail_info['Id']}}'</h2>
{% elif model == "item" %}
<h2>Item '{{detail_info['Name']}}'</h2>
{% endif %}

<table class="info-table">
  <tr class="info-row">
    {% for key in detail_info.keys() %}
    <th class="info-type">
      {{ key }}
    </th>
    {% endfor %}
  </tr>
  <tr class="info-row">
    {% for value in detail_info.values() %}
    <td class="info-single-item">
      {{ value }}
    </td>
    {% endfor %}
  </tr>
</table>

<!-- 
  ==============
      STORE
  ==============
 -->
{% if sales_per_month %}
  <h2>월별 매출액</h2>
  <table class="info-table">
    <tr class="info-row">
      {% for key in sales_per_month[0].keys() %}
      <th class="info-type">
        {{ key }}
      </th>
      {% endfor %}
    </tr>
    {% for d in sales_per_month %}
    <tr class="info-row background">
      {% for key in sales_per_month[0].keys() %}
      <td class="info-single-item">
        {{ d[key] }}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <div>
    <canvas id="SalesChart"></canvas>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const ctx = document.getElementById('SalesChart');

    const labels = {{ labels | tojson }}
    const total_revenues = {{ total_revenues | tojson }}
    const item_counts = {{ item_counts | tojson }}
  
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          yAxisID: 'y1',
          label: 'item counts',
          type: 'line',
          data: item_counts
        } , {
          yAxisID: 'y2',
          label: 'total revenues',
          data: total_revenues,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y1: {
            position: "left",
            grid: {
              display: false
            }
          },
          y2: {
            position: "right",
            grid: {
              display: false
            }
          }
        }
      }
    });
  </script>
{% endif %}

<!-- 
  ==============
      USER
  ==============
 -->
{% if purchased_info %}
<h2>주문 정보</h2>
<table class="info-table">
  <tr class="info-row">
    {% for key in purchased_info[0].keys() %}
    <th class="info-type">
      {{ key }}
    </th>
    {% endfor %}
  </tr>
  {% for d in purchased_info %}
  <tr class="info-row background">
    {% for key in purchased_info[0].keys() %}
    <td class="info-single-item">
      {{ d[key] }}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endif %}

{% if top_store %}
<h2>자주 방문한 매장 TOP 5</h2>
<ul>
  {% for store in top_store %}
  <li>
    {{store['store_name']}} ({{store['visited']}}번 방문)
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if top_item %}
<h2>자주 주문한 상품명 TOP 5</h2>
<ul>
  {% for item in top_item %}
  <li>
    {{item['Name']}} ({{item['count_ordered']}}번 주문)
  </li>
  {% endfor %}
</ul>
{% endif %}

<button onclick="window.history.back()">뒤로 돌아가기</button>

{% endblock %}