<nav>
  <ul class="menu">
    <a href="/">
      <li class="menu-list">
        HOME
      </li>
    </a>
    <a href="/users">
      <li class="menu-list">
        User
      </li>
    </a>
    <a href="/orders">
      <li class="menu-list">
        Order
      </li>
    </a>
    <a href="/orderitem">
      <li class="menu-list">
        Order Item
      </li>
    </a>
    <a href="/items">
      <li class="menu-list">
        Item
      </li>
    </a>
    <a href="/stores">
      <li class="menu-list">
        Store
      </li>
    </a>
  </ul>
</nav>