<!-- 
=============================================
  pagination include 전 keywords 선언 필수
=============================================
-->

<div class="pagination">
  <ul class="paging-bar">
    {% if page > 10 %}
    <li>
      <a class="prev-prev paging"
        href="?page={{page-10}}{{keywords}}">&lt;&lt;</a>
    </li>
    {% endif %}
    {% if page > 1 %}
    <li>
      <a class="prev paging" href="?page={{page-1}}{{keywords}}">&lt;</a>
    </li>
    {% endif %}
    {% for i in range(((page-1)//10)*10+1, [((page-1)//10)*10+11, total_pages+1]|min ) %}
    <li>
      <a class="paging {% if i == page %} current {% endif %}"
        href="?page={{i}}{{keywords}}">{{ i }}</a>
    </li>
    {% endfor %}
    {% if total_pages > page %}
    <li>
      <a class="next paging" href="?page={{page+1}}{{keywords}}">&gt;</a>
    </li>
    {% endif %}
    {% if total_pages >= page+10 %}
    <li>
      <a class="next-next paging"
        href="?page={{page+10}}{{keywords}}">&gt;&gt;</a>
    </li>
    {% endif %}
  </ul>
</div>