{% extends 'layout.html' %} {% block content %}

{% if model == "user" %}
<h2>User '{{detail_info['Name']}}'님</h2>
{% elif model == "store" %}
<h2>Store '{{detail_info['Name']}}'</h2>
{% elif model == "order" %}
<h2>Order Id '{{detail_info['Id']}}'</h2>
{% elif model == "item" %}
<h2>Item '{{detail_info['Name']}}'</h2>
{% endif %}

<table class="info-table">
  <tr class="info-row">
    {% for key in detail_info.keys() %}
    <th class="info-type">
      {{ key }}
    </th>
    {% endfor %}
  </tr>
  <tr class="info-row">
    {% for value in detail_info.values() %}
    <td class="info-single-item">
      {{ value }}
    </td>
    {% endfor %}
  </tr>
</table>

<button onclick="window.history.back()">뒤로 돌아가기</button>

{% endblock %}