<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRM</title>
  <link href='{{url_for("static", filename="style.css")}}' rel="stylesheet">
</head>

<body>
  <div class="main-container">
    <nav>
      <ul class="menu">
        <li class="menu-list">
          <a href="/users">User</a>
        </li>
        <li class="menu-list">
          <a href="/order">Order</a>
        </li>
        <li class="menu-list">
          <a href="/orderitem">Order Item</a>
        </li>
        <li class="menu-list">
          <a href="/item">Item</a>
        </li>
        <li class="menu-list">
          <a href="/stores">Store</a>
        </li>
      </ul>
    </nav>
  </div>
</body>

</html>