{% extends 'common/base.html' %}

{% block title%}
Register
{% endblock %}

{% block content %}
<div class="sub-menu">
  <a href="/user/register" class="filter">사용자 등록하기</a>
  <a href="/store/register" class="filter">상점 등록하기</a>
  <a href="/item/register" class="filter selected">상품 등록하기</a>
</div>

<form action="/item/register" method="POST">
  <div>
    <label for="itemname">상품 이름 :</label>
    <input name="itemname" type="text" placeholder="name" required>
  </div>
  <div>
    <label for="itemtype">상품 종류 :</label>
    <select name="itemtype">
      <option value="Juice">주스</option>
      <option value="Coffee">커피</option>
      <option value="Cake">케이크</option>
    </select>
  </div>
  <div>
    <label for="unitprice">가격 :</label>
    <input name="unitprice" type="number" placeholder="address" required>
  </div>
  <button type="submit">추가</button>
</form>
{% endblock %}