{% extends 'common/base.html' %}

{% block title%}
{% endblock %}

{% block content %}

<div class="kiosk-container">
{% for d in data %}
<div class="kiosk-item">
  {% for key in data[0].keys() %}
  {% if key != 'Id' and key != 'Type' %}
  <p>
  {{ d[key] }}
  </p>
  {% endif %}
  {% endfor %}
  <form action="/kiosk/" method="post">
    <input name="storeid" type="text" value="{{ d['Id'] }}" readonly hidden>
    <button type="submit">
      선택
    </button>
  </form>
</div>
{% endfor %}
</div>

{% endblock %}