{% extends 'common/base.html' %} 

{% block title%}
{% endblock %}

{% block content %}

<table class="info-table">
  <tr class="info-row">
    {% for key in data[0].keys() %}
    <th class="info-type">
      {{ key }}
    </th>
    {% endfor %}
  </tr>
  {% for d in data %}
  <tr class="info-row background">
    {% for key in data[0].keys() %}
    <td class="info-single-item">
      {{ d[key] }}
    </td>
    {% endfor %}
    <td>
      <form action="/kiosk/" method="post">
        <input name="storeid" type="text" value="{{ d['Id'] }}" readonly hidden>
        <button type="submit">
          선택
        </button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>


{% endblock %}