<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>USERS - CRM</title>
  <link href='{{url_for("static", filename="style.css")}}' rel="stylesheet">
  <style></style>
</head>

<body>
  <div class="main-container">
    <!-- 
    ==================
          menu bar
    ==================
    -->
    {% include "menu.html" %}

    {% block content %}
    <!-- 
    ==================
        main content
    ==================
    -->
    {% endblock %}

  </div>
</body>

</html>