{% extends 'layout.html' %} {% block content %}

<table class="info-table">
  <tr class="info-row">
    {% for key in data[0].keys() %}
    <th class="info-type">
      {{ key }}
    </th>
    {% endfor %}
  </tr>
  {% for d in data %}
  <tr class="info-row background">
    {% for key in data[0].keys() %}
    <td class="info-single-item">
      {% if key == 'id' %}
      <a class="id-link" href="/{{model}}_detail/?id={{d[key]}}">{{ d[key] }}</a>
      {% else %}
      {{ d[key] }}
      {% endif %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% set keywords = '' %}
{% include 'pagination.html'%}

{% endblock %}