{% extends 'common/base.html' %} 

{% block title%}
CRM - STORES
{% endblock %}

{% block content %}

<!-- 
==================
      table
==================
-->

{% if stores %}
<table class="info-table">
  <thead>
    <tr class="info-row">
      {% for key in header %}
      <th class="info-type">
        {{ key }}
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for store in stores %}
    <tr class="info-row background">
      <td class="info-single-item">
        <!-- <a href="/store_detail/?id={{store.Id}}"> -->
        <a href="{{ url_for('store_detail', id=store.Id) }}">
          {{ store.Id }}
        </a>
      </td>
      <td class="info-single-item">
        {{ store.Name }}
      </td>
      <td class="info-single-item">
        {{ store.Type }}
      </td>
      <td class="info-single-item">
        {{ store.Address }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

<!-- 
==================
    pagination
==================
-->

{% set keywords = '' %}
{% include 'common/pagination.html'%}
{% endblock %}