{% extends 'layout.html' %} {% block content %}

<table class="info-table">
  <tr class="info-row">
    {% for key in stores[0].keys() %}
    <th class="info-type">
      {{ key }}
    </th>
    {% endfor %}
  </tr>
  {% for store in stores %}
  <tr class="info-row background">
    {% for key in store.keys() %}
    <td class="info-single-item">
      {% if key == 'Id' %}
      <a class="id-link" href="/store_detail/?store_id={{store[key]}}">{{ store[key] }}</a>
      {% else %}
      {{ store[key] }}
      {% endif %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% endblock %}