{% extends 'common/base.html' %} 

{% block title%}
CRM - USERS
{% endblock %}


{% block content %}

<!-- 
==================
    search bar
==================
-->

<div class="search">
  <form class="search-form" action="/users/" method="GET">
    <div>
      <label for="name">Name :</label>
      <input name="name" class="input-form" type="text" value="{{search_name}}" size="5" />
    </div>
    <div>
      <label for="gender">Gender :</label>
      <select name="gender" class="input-form">
        <option value="" ></option>
        <option value="Female" {% if search_gender == "Female"%} selected {% endif %}>Female</option>
        <option value="Male" {% if search_gender == "Male" %} selected {% endif %}>Male</option>
      </select>
    </div>
    <button type="submit">검색</button>
  </form>
</div>
<div class="filter">
  <a class="filter-age" href="/users/?&name={{search_name}}&gender={{search_gender}}&age=0">전체</a>
  {% for i in range(10, 60, 10) %}
  <a class="filter-age {% if i == search_age %} current {% endif %}"
    href="/users/?&name={{search_name}}&gender={{search_gender}}&age={{i}}">
    {{i}}대</a>
  {% endfor %}
</div>

<!-- 
==================
      table
==================
-->

{% if users %}
<table class="info-table">
  <thead>
    <tr class="info-row">
      {% for key in users[0].keys() %}
      {% if key != 'id' %}
      <th class="info-type">
        {{ key }}
      </th>
      {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for i in range(users|length) %}
    {% set userDetatilURL ='/user_detail/?id=' + users[i]['id'] %}
    <tr class="info-row background" onclick="window.location.href='{{userDetatilURL}}'">
      {% for key in users[i].keys() %}
      {% if key != 'id' %}
      <td class="info-single-item">
        {% if key == 'name' and search_name %}
        {% for c in range(users[i]['name']|length) %}<!-- 
            -->{% if highlighted[i][c] == 1 %}<!-- 
            --><span class="highlighted">{{users[i]['name'][c]}}</span><!-- 
            -->{% else %}<!-- 
            --><span>{{users[i]['name'][c]}}</span><!-- 
            -->{% endif %}<!-- 
            -->{% endfor %}
        {% else %}
        {{users[i][key]}}
        {% endif %}
      </td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

<!-- 
==================
    pagination
==================
-->

{% set keywords = "&name="+ search_name + "&gender=" + search_gender + "&age=" + search_age|string %}
{% include "common/pagination.html" %}
{% endblock %}